Checks: >
  -*,
  readability-*,
  modernize-*,
  performance-*,
  -llvmlibc-*,
  -fuchsia-*,
  -altera-*,
  -cppcoreguidelines-pro-type-union-access,
  -hicpp-signed-bitwise,
  -bugprone-lambda-function-name,
  -readability-magic-numbers,
  -readability-identifier-length

# HeaderFilterRegex: ".*"
FormatStyle: llvm
CheckOptions:
  - key: cppcoreguidelines-avoid-do-while.IgnoreMacros
    value: true
  - key: hicpp-signed-bitwise.IgnorePositiveIntegerLiterals
    value: true
